.header-img {
  flex-flow: row wrap;
}
.home-body {
  display: flex;
  flex-flow: row wrap;
  .lefter {
    // border: 1px solid black;
    width: 75%;
    .article-card {
      max-width: 50%;
      .image-wrapper {
        max-height: 300px;
      }
    }
    hr {
	  border-top: solid 2px #adac97; 
	  padding-left: 10px;
	  padding-right:10px;
    }
  }
  .righter {
    // border: 1px solid black;
    min-width: 25%;
    background-color: #dddd;
  }
}
.lefter-title {
  padding-bottom: 0%;
  padding-left: 5%;
  font-weight: bolder;
  padding-top: 20px;
  font-size: 50px;
}
